{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<main class="app app_auth" id="confirmApp">
    <div class="container">
        <h1 class="title">{{ title }}</h1>
        <form class="form form_type_auth" @submit.prevent="doConfirm">
            <input type="hidden" name="_token" value="{{ session._token }}" ref="_token">
            <input type="hidden" name="email" value="{{ email }}" ref="email">
            <label for="tel" class="form__label">
                <input type="number" class="form__input" placeholder="5-digit code" v-model="code">
            </label>

            <button type="submit" class="btn form__btn">Login me now!</button>

            {% if session.response is defined and session.response.success==false %}
                <p class="form-help">{{ session.response.message }}</p>
            {% endif %}

            <p class="form-help" v-if="response.success==false">[[ response.message ]]</p>
        </form>
    </div>
</main>
{% endblock %}

{% block custom_js %}
    <script src="{{ home_url }}/static/js/confirm.js"></script>
{% endblock %}