{% include 'inc/header.twig' with {'title': page_title} %}
<main class="app app_home" id="app">
    <div class="container">
        <h1 class="title">{{ page_title }}</h1>
        <section class="app__main-window">
            <div class="app__body" ref="chatBody" @scroll="loadMessages">
                <a :href="'#'+index" class="app__message" :id="index" :message_id="message.id" :class="{'app__message_self': message.user_name == '{{ user.user_name }}' }" :data-name="message.user_name" v-for="(message, index) in messages" :key="index">
                    <span class="app__message-sender" v-if="message.user_name != '{{ user.user_name }}'">[[message.user_name]]</span>
                    <div class="app__message-text">
                        <div v-html='message_text_handling(message.message_text)+"<span>"+message_pub_time(message.message_pub_date)+"</span>"'>
                            
                        </div>
                        {# <span class="app__message-timestamp">[[message_pub_time(message.message_pub_date)]]</span> #}
                        
                    </div>
                </a>
            </div>

            <footer class="app__footer" ref="footer">
                
                <form class="form" @submit.prevent="send">

                    <textarea
                            placeholder="Press Ctrl+Enter to send"
                            ref="text_input"
                            @keydown.ctrl.enter="send"
                            @keydown.enter="newLine"
                            v-model="message_text"
                            data-user-name="{{ user.user_name }}"
                            data-user-id="{{ user.id }}"
                            class="form__input app__message-input"
                    ></textarea>
                    <div class="app__message-send-tools">
                        <svg  @click="showEmojiPicker = !showEmojiPicker" class="app__message-emoji-picker-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="#c4c4c4" v-if="!showEmojiPicker" d="M130.7 313.9C126.5 300.4 137.8 288 151.1 288H364.5C378.7 288 389.9 300.4 385.8 313.9C368.1 368.4 318.2 408 258.2 408C198.2 408 147.5 368.4 130.7 313.9V313.9zM208.4 192C208.4 209.7 194 224 176.4 224C158.7 224 144.4 209.7 144.4 192C144.4 174.3 158.7 160 176.4 160C194 160 208.4 174.3 208.4 192zM304.4 192C304.4 174.3 318.7 160 336.4 160C354 160 368.4 174.3 368.4 192C368.4 209.7 354 224 336.4 224C318.7 224 304.4 209.7 304.4 192zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"/>
                            <path fill="#000" v-if="showEmojiPicker" d="M130.7 313.9C126.5 300.4 137.8 288 151.1 288H364.5C378.7 288 389.9 300.4 385.8 313.9C368.1 368.4 318.2 408 258.2 408C198.2 408 147.5 368.4 130.7 313.9V313.9zM208.4 192C208.4 209.7 194 224 176.4 224C158.7 224 144.4 209.7 144.4 192C144.4 174.3 158.7 160 176.4 160C194 160 208.4 174.3 208.4 192zM304.4 192C304.4 174.3 318.7 160 336.4 160C354 160 368.4 174.3 368.4 192C368.4 209.7 354 224 336.4 224C318.7 224 304.4 209.7 304.4 192zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"/>
                        </svg>

                        <button v-show="messageText" class="app__message-send-btn" type="submit">
                            <img class="app__message-send-icon" src="static/img/icons8-sent-96.png" alt="send message button">
                        </button>
                    </div>
                </form>
                <emoji-picker
                    class="light"
                    v-if="showEmojiPicker"
                    @emoji-click="getEmoji"
                ></emoji-picker>
            </footer>
        </section>
    </div>
</main>
{% include 'inc/footer.twig' %}