<aside style="display: flex">
    <ul class="users" ref="usersSidebar">
        <li class="users__item saved">
            <a class="users__link {% if session.logged_user.id == message_to.id %}active{% endif %}" href="{{ home_url }}?uid={{session.logged_user.id}}">
                <svg class="users__userpic saved__userpic" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 6 2 C 5.861875 2 5.7278809 2.0143848 5.5976562 2.0410156 C 4.686084 2.2274316 4 3.033125 4 4 L 4 22 L 12 19 L 20 22 L 20 4 C 20 3.8625 19.985742 3.7275391 19.958984 3.5976562 C 19.799199 2.8163086 19.183691 2.2008008 18.402344 2.0410156 C 18.272119 2.0143848 18.138125 2 18 2 L 6 2 z"/></svg>
                <span class="users__label">Saved Messages</span>
            </a>
        </li>

        {% for user in users %}
            {% if user.id != session.logged_user.id %}
                <li class="users__item">
                    <a class="users__link {% if user.id == message_to.id %}active{% endif %}" href="{{ home_url }}?uid={{user.id}}">
                        <div class="users__userpic" style="background: linear-gradient(180deg, {{ user.avatar_color1 }} 0%, {{ user.avatar_color2 }} 140%)">
                            {{ user.user_name|first }}
                        </div>
                        <div>
                            <p class="users__label users__name">{{ user.user_name }}</p>
                            <p class="users__label users__email">{{ user.email }}</p>
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</aside>